*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 320px){

  .gn-page-wrapper, .gn-preloader {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #1C1C1C;
    border: 30px solid #000;
  }

  .gn-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gn-preloader-inner {
    margin-top: -45px;
  }

  .gn-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gn-logo {
    width: 74px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #2CCB69;
    border-radius: 0 0 37px 0;
  }

  .gn-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 55px auto 0;
  }

  .gn-menu {
    display: none;
  }

  .gn-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #2CCB69;
    background-image: url('../images/icon-contact-close.svg');
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .gn-contact-info {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 75%, 100% 100%, 85% 80%, 0 80%);
    width: 245px;
    height: 210px;
    padding: 25px;
    position: fixed;
    bottom: 100px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .gn-contact-info p {
    font-size: 18px;
    line-height: 24px;
  }

  .gn-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
    margin-top: 7px;
  }

  .gn-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }

  .gn-social > img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }

}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 992px){
  .gn-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .gn-menu a {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .gn-menu a:first-child {
    margin-left: 0;
  }

  .gn-menu a:hover {
    color: #2ccb69;
  }

  .gn-menu a::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .gn-menu a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px){
  
}

@media screen and (min-width: 1364px){
  
}

@media screen and (min-width: 1600px){
  
}

/* CLASSES UTILITÁRIAS */

.gn-title {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

.gn-text-green {
  color: #2CCB69;
}

.gn-text-dark {
  color: #4D4C4C;
}

.gn-text-light {
  color: #BCBCBC;
}

.gn-text-black {
  color: #000;
}

.gn-bg-green {
  background-color: #2CCB69;
}

.gn-bg-dark {
  background-color: #4D4C4C;
}

.gn-bg-light {
  background-color: #BCBCBC;
}

.gn-bg-black {
  background-color: #000;
}

.gn-mar-15 {
  margin: 15px;
}

.gn-mar-top-15 {
  margin-top: 15px;
}

.gn-mar-right-15 {
  margin-right: 15px;
}

.gn-mar-bottom-15 {
  margin-bottom: 15px;
}

.gn-mar-left-15 {
  margin-left: 15px;
}

.gn-pad-15 {
  padding: 15px;
}

.gn-pad-top-15 {
  padding-top: 15px;
}

.gn-pad-right-15 {
  padding-right: 15px;
}

.gn-pad-bottom-15 {
  padding-bottom: 15px;
}

.gn-pad-left-15 {
  padding-left: 15px;
}
/* CLASSES COMPORTAMENTO/ESTADO */

.gn-is-open {
  display: block;
}

.gn-change-icon {
  background-position-y: -45px;
}