*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, label {
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideTopIn {
  to {
    top: 15%;
    opacity: 1;
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }

  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
  }

  30% {
    bottom: 15px;
    opacity: 1;
  }

  70% {
    bottom: 10px;
    opacity: 1;
  }

  70% {
    bottom: 5px;
    opacity: 0;
  }
}

@media screen and (min-width: 320px) {

  .gn-page-wrapper, .gn-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1C1C1C;
    border: 30px solid #000;
  }

  .gn-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gn-preloader-inner {
    margin-top: -45px;
  }

  .gn-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(44, 203, 105, 0.95);
  }

  .gn-modal {
    width: 800px;
    display: none;
    padding: 30px;
    border-radius: 0 30px 30px 30px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
    opacity: 0;
  }
  .gn-modal-header, .gn-modal-body, .gn-form {
    width: 100%;
    display: table;
    position: relative;
  }

  .gn-close-modal {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #2CCB69;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    border: none;
    background-color: #2F2F2F;
  }

  .gn-field, .gn-textarea {
    width: 100%;
    background-color: #2F2F2F;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-indent: 15px;
  }

  .gn-field {
    height: 45px;
  }

  .gn-textarea {
    
  }

  .gn-form label {
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
  }

  .gn-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gn-logo {
    width: 74px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #2CCB69;
    border-radius: 0 0 37px 0;
  }

  .gn-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 55px auto 0;
  }

  .gn-menu {
    display: none;
  }

  .gn-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #2CCB69;
    background-image: url('../images/icon-contact-close.svg');
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .gn-contact-info {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 75%, 100% 100%, 85% 80%, 0 80%);
    width: 245px;
    height: 210px;
    padding: 25px;
    position: fixed;
    bottom: 100px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .gn-contact-info p {
    font-size: 18px;
    line-height: 24px;
  }

  .gn-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
    margin-top: 7px;
  }

  .gn-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }

  .gn-social > img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }

  /*  HOME -  */

  .gn-display-text {
    margin-top: 10%;
  }

  #gn-home-presentation {
    background-image: url('../images/joao-lemon-designer-home.png');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    position: relative;
  }

  .gn-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background-color: #2CCB69;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .gn-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }

  .gn-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 2s linear 2s infinite;
  }

  .gn-arrow-down::before {
    content: '';
    width: 2px;
    height: 45px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    transform-origin: top center;
    animation: lineDown 1.5s ease-out infinite;
  }

  /* HOME - PORTFOLIO  */

  .gn-portfolio-navigator {
    width: 145px;
    height: 400px;
    display: table;
    background-color: red;
    position: absolute;
    left: 15px;
    top: 26vh;
  }

  .gn-item-counter {
    width: 100%;
    height: 90px;
    display: block;
    background-color: blue;
    margin-bottom: 60px;
  }

  .gn-item-navigator {
    width: 100%;
    display: table;
    background-color: greenyellow;
  }

  .gn-item-navigator a {
    width: 20px;
    height: 1px;
    background-color: purple;
    display: block;
    margin-bottom: 80px;
  }

  .gn-item-navigator a:last-child {
    margin-bottom: 30px;
  }

  .gn-portfolio-next-prev {
    width: 100%;
    height: 45px;
    background-color: deeppink;
    display: block;
  }
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 992px){
  .gn-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .gn-menu a {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .gn-menu a:first-child {
    margin-left: 0;
  }

  .gn-menu a:hover {
    color: #2ccb69;
  }

  .gn-menu a::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .gn-menu a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px){
  
}

@media screen and (min-width: 1364px){
  
}

@media screen and (min-width: 1600px){
  
}

/* BOTÕES */

.gn-btn {
  /* all: unset; */
  display: table;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-transform: lowercase;
}

.gn-btn-block {
  display: block;
  width: 100%;
}

.gn-btn-small {
  height: 28px;
  padding: 0 20px;
  border-radius: 14px;
  font-size: 11px;
}

.gn-btn-medium {
  height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 14px;
}

.gn-btn-large {
  height: 45px;
  padding: 0 35px;
  border-radius: 23px;
  font-size: 16px;
}

.gn-btn-green {
  background-color: #2CCB69;
  color: #1C1C1C;
}

.gn-btn-green:hover {
  background-color: rgb(6, 135, 55);
  color: #fff;
  /* transform: scale(1.1); */
}

.gn-btn-dark {
  background-color: #151515;
  color: #2CCB69;
}

.gn-btn-dark:hover {
  background-color: #2f2f2f;
  color: #fff;
}

/* CLASSES UTILITÁRIAS */

.gn-title {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

.gn-title-big {
  font-size: 120px;
}

.gn-text-green {
  color: #2CCB69;
}

.gn-text-dark {
  color: #4D4C4C;
}

.gn-text-light {
  color: #BCBCBC;
}

.gn-text-black {
  color: #000;
}

.gn-bg-green {
  background-color: #2CCB69;
}

.gn-bg-dark {
  background-color: #4D4C4C;
}

.gn-bg-light {
  background-color: #BCBCBC;
}

.gn-bg-black {
  background-color: #000;
}

.gn-mar-15 {
  margin: 15px;
}

.gn-mar-top-15 {
  margin-top: 15px;
}

.gn-mar-right-15 {
  margin-right: 15px;
}

.gn-mar-bottom-15 {
  margin-bottom: 15px;
}

.gn-mar-left-15 {
  margin-left: 15px;
}

.gn-pad-15 {
  padding: 15px;
}

.gn-pad-top-15 {
  padding-top: 15px;
}

.gn-pad-right-15 {
  padding-right: 15px;
}

.gn-pad-bottom-15 {
  padding-bottom: 15px;
}

.gn-pad-left-15 {
  padding-left: 15px;
}

.gn-full-height {
  height: 100vh;
  position: relative;
}

.gn-first-section {
  height: calc(100vh - 30px);
}

.gn-no-padding {
  padding: 0 !important;
}

/* CLASSES COMPORTAMENTO/ESTADO */

.gn-is-open {
  display: block;
}

.gn-slide-top-in {
  animation: slideTopIn 1s forwards cubic-bezier(0.8,-0.5,0.265,1.3);
}

.gn-change-icon {
  background-position-y: -45px;
}

.gn-fade-out {
  animation: fadeOut 2s forwards ease-out;
}